<template>
    <div class="form-group">
        <label class="col-md-4 control-label">{{title}}</label>
            <ul class="col-md-6">
                <treeselect

                        v-model="selectedId"
                        :multiple="multiple"
                        :clearable="clearable"
                        :searchable="searchable"
                        :open-on-click="openOnClick"
                        :clear-on-select="clearOnSelect"
                        :options="options"
                        :limit="5"
                        :max-height="300"

                />
                <input type="hidden" name="user_group_id" :value="selectedId">

            </ul>
    </div>

</template>
<script>
    import Treeselect from '@riophae/vue-treeselect'

    export default {
        props: ['optionsString','title','initialId'],
        components: { Treeselect },
        name: 'bytes-treeview',
        data () {
            return {
                selectedId: "",
                multiple: false,
                clearable: true,
                searchable: true,
                openOnClick: true,
                clearOnSelect: true
            }
        }, //data

        /**
         * options are passed in as a string but needs to be array of objects
         */
        computed: {
            options: function(){
                return JSON.parse(this.optionsString);
            }
        },
        created: function() {
            this.selectedId = this.initialId;
        },

        methods: {

        }//methods
    }


</script>

<style src="@riophae/vue-treeselect/dist/vue-treeselect.min.css"></style>