a.navbar-brand {
    margin: 0px;
    padding: 0px;
    background-image: url("/ui/bytes-cip-logo-small.png");
    background-repeat: no-repeat;
    width: 144px;
    height:50px;


}

ul.customer-select li.customer-link {
    background-image: url('/ui/star.png');
    background-repeat: no-repeat;
    background-position: 1em 50%;
    padding-left: 2em;
}

ul.customer-select li.customer-link > a {
    padding-left: 5px;
}

div.form-group > div.statictext {
    padding-top: 7px;
}

div.form-group > div.staticlabel {
    padding-top: 3px;
}

div.input-group > div.easy-autocomplete > div.easy-autocomplete-container > ul {
    top: 36px;
}

div.easy-autocomplete-container li div.eac-item span.code {
    color: #888888;
    font-size:0.9em;
}

.mt1 {
    margin-top: 1em;
}

.mr1 {
    margin-right: 1em;
}

table.text-middle tr > td {
    vertical-align: middle;
}

.icon-return {
    position: relative;
    top: 1px;
    width: 15px;
    height: 15px;
    background-image: url("/ui/return.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 0.5em;
}

.large {
    font-size: larger;
}

.table-error {
    background:#ebccd1;;;
}



